.app-header {
    height: 150px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 25px;
    text-shadow: 2px 3px 0px #000;
    background-attachment: fixed;
    background: url('./images/head-bg.jpg');
}
.app-header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 40px;
    margin: 10px 0px;
    align-self: center;
}

@media screen and (min-width:780px) {
    .app-header {
        height: auto;
    }
    .app-header h1 {
        font-size: 60px;
        margin: 20px 0px;
    }
}